body {
  font-family: sans-serif;
  padding: 0 20px;
}
h1 {
  margin: 0;
  font-size: 34px;
  line-height: 48px;
  padding: 5px;
}
h2 {
  margin: 0 0 0 10px;
  font-weight: 300;
  font-size: 24px;
  line-height: 38px;
  padding: 5px;
}
h3 {
  margin: 0 0 0 10px;
  font-weight: 250;
  font-size: 24px;
  line-height: 38px;
  padding: 5px;
}
.units {
position: relative;
top: -32px;


}
.container {
  margin: 0 auto;
  max-width: 70%;
  padding: 25px 50px;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.col-1 {
  margin: 0 0 20px 50px;
}
.col-6 {
  margin: 0 0 0 20px;